.botonCount {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 10px;
    border: none;
    background-color: #000000;
    color: white;
}


.ContainerCount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 200px;
    height: 5px;
    border-radius: 5px;

    span {
        padding: 0 20px;
    }

}

.ContainerAddVaciar {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;


    button {
        margin: 5px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        width: 70px;
        height: 35px;
        border-radius: 5px;
        font-family: "Poppins", sans-serif;
        text-align: center;
        font-size: 10px;
        border: none;




    }

}