.botonCount {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 10px;
    border: none;
    background-color: #000000;
    color: white;
    text-align: center;
    transition: 0.7s;

    &:hover{
        color: black;
        background-color: white;
        box-shadow: 1px 1px px rgb(255, 132, 0);
        transform: translateY(-0.10em);
    }

}
   
   



.ContainerCount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 25vh;
    height: 5px;
    border-radius: 5px;

    span {
        padding: 0 20px;
        font-weight: bold;
        font-family: 'Dosis', sans-serif;
        font-size: 20px;
    }

}

.ContainerAddVaciar {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;


    button {
        margin: 8px 15px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        width: 70px;
        height: 35px;
        border-radius: 5px;
        font-family: "Poppins", sans-serif;
        text-align: center;
        font-size: 12px;
        font-weight: 800;
        border: none;
        transition: 0.7s;

        &:hover{
            background-color: white;
            color: #000000;
            box-shadow: 2px 2px 5px rgb(255, 132, 0);
            transform: translateY(-0.50em);
        }




    }

}