
.ItemListContainer{
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
}


.ContainerCatalogo{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
    font-family: "Poppins", sans-serif;
    color: white;

    
}

.CartCatalogo{
    width: 100px;
    height: 330px;
    flex: 1 0 15rem;
    padding: 15px;
    margin: 1rem;
    background: linear-gradient(90deg, rgba(0,255,29,1) 0%, rgba(83,0,0,1) 0%, rgba(0,19,52,1) 100%);
    border-radius: 10px 100px 10px 10px;
    transition: 1.2s;
    position: relative;

    &:hover{
        transform: translateY(-0.90em);
        background-position: right center;
        box-shadow: 3px 2px 4px red;
    }

        img{
            width: 100px;
            height: 100px;
            border-radius: 100%;
            padding: 10px 0;
            position: relative;
            left: 28%;
        }

        .CategoriaCatalogo{
            font-size: 12px;
        }

        h2{
            padding: 15px 0;
            font-size: 30px;
        }

        .StockCatalogo{
            font-size: 12px;
            padding: 15px 0;
        }

        button{
            position: absolute;
            right:43%;
            bottom: 8%;
            max-width: 68px;
            width: 100%;
            max-height: 35px;
            height: 100%;
            border-radius: 5px;
            border: none;
            background-color: black;

            
                .Detalle{
                    color: white;
                    font-family: "Poppins", sans-serif;
                }
            

                &:hover{
                    background-color: rgb(255, 0, 0);
                }
        }
}